[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.75.1"
tweepy = {version = "==4.8.0", extras = ["async"]}
uvicorn = {version = "==0.17.6", extras = ["standard"]}
requests = "==2.27.1"
configparser = "==5.2.0"
aioredis = "==2.0.1"
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
anyio = "==3.5.0"
asgiref = "==3.5.0"
async-timeout = "==4.0.2"
attrs = "==21.4.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.1.2"
frozenlist = "==1.3.0"
greenlet = "==1.1.2"
h11 = "==0.13.0"
httptools = "==0.4.0"
idna = "==3.3"
multidict = "==6.0.2"
oauthlib = "==3.2.0"
pydantic = "==1.9.0"
python-dotenv = "==0.20.0"
requests-oauthlib = "==1.3.1"
sniffio = "==1.2.0"
starlette = "==0.17.1"
typing-extensions = "==4.1.1"
urllib3 = "==1.26.9"
uvloop = "==0.16.0"
watchgod = "==0.8.2"
websockets = "==10.2"
yarl = "==1.7.2"
FastAPI-SQLAlchemy = "==0.2.1"
SQLAlchemy = "==1.4.35"
PyYAML = "==6.0"
azure-eventhub = "*"
azure-eventhub-checkpointstoreblob-aio = "*"
azure-storage-blob = "*"
avro-python3 = "*"
pipfile = "*"
nest-asyncio = "*"
tornado = "==4.5.3"

[dev-packages]

[requires]
python_version = "3.8"
